.navbar-inverse{
	background-color: #60AF97;
	border-color: #206b5a;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
#logo{
	background: url('/src/images/21market-logo-main-100.png') no-repeat center;
	width: 100px;
	height: 100px;
}
.left-nav{
	display: inline-block;
}
#shop-button{
	background-color: #5790c1;
	color:#fff;
	border-color: #fff;
}
#shop-button>a{
	color: #fff !important;
}
#shop-button>a:hover{
	text-decoration: none !important;
}
#purchase-button{
	background-color: #6ace6c;
	color:#fff;
	border-color: #fff;
}
#purchase-button>a{
	color: #fff !important;
}
#purchase-button>a:hover{
	text-decoration: none !important;
}
.thumbnail>img {
	height: 150px;
}
.caption h4 {
     white-space: wrap; 
}
.main-block{
	margin-top: 40px;
}