@font-face{
    font-family: 'Exo 2 Bold';
    src: url(/src/fonts/Exo2-Bold.otf);
}
@font-face{
    font-family: 'Exo 2 Regular';
    src: url(/src/fonts/Exo2-Regular.otf);
}
body{
    font-family: 'Exo 2 Regular';
}
footer{
    background-color: #60AF97;
    border-color: #549e7f;
    text-align: center;
    color: #fff;
    min-height: 200px;
    height: auto;
}
@font-face{
    font-family: 'Exo 2 Medium';
    src: url(/src/fonts/Exo2-Medium.otf);
}
.navbar-inverse{
	background-color: #60AF97;
	border-color: #549e7f;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
#logo{
	background: url('/src/images/21market-logo-main-100.png') no-repeat center;
	width: 100px;
	height: 100px;
}
.left-nav{
	display: inline-block;
}
#shop-button{
	background-color: #5790c1;
	color:#fff;
	border-color: #fff;
}
#shop-button>a{
	color: #fff !important;
}
#shop-button>a:hover{
	text-decoration: none !important;
}
#purchase-button{
	background-color: #6ace6c;
	color:#fff;
	border-color: #fff;
}
#purchase-button>a{
	color: #fff !important;
}
#purchase-button>a:hover{
	text-decoration: none !important;
}
.thumbnail>img {
	height: 150px;
}
.caption h4 {
     white-space: wrap; 
}
.main-block{
	margin-top: 40px;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
}
/*COMMON STYLES*/
.row>p,h1,h2,a{
    font-family: 'Exo 2';
}
.login-choice{
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-btn{
    background-color: #60af97;
    border-color: #549e7f;
}
.main-btn.active{
    background-color: #517f6a;
    border-color: #549e7f;
}
.main-btn.active:hover{
    background-color: #517f6a;
    border-color: #549e7f;
}
.m55-fonted{
    font-family: "Exo 2 Bold";
}
/*-------------*/
.index-bg{
  background: url(/src/images/21market-logo-main-300.png) no-repeat center center;
  height: 300px;
}
.index-text{
    text-align: center;
}
a{
    color: #60AF97;
}
a:hover{
    color: #549e7f;
    cursor: pointer;
}