@font-face{
    font-family: 'Exo 2 Bold';
    src: url(/src/fonts/Exo2-Bold.otf);
}
@font-face{
    font-family: 'Exo 2 Regular';
    src: url(/src/fonts/Exo2-Regular.otf);
}
@font-face{
    font-family: 'Exo 2 Medium';
    src: url(/src/fonts/Exo2-Medium.otf);
}
body{
    font-family: 'Exo 2 Medium';
}
footer{
    text-align: center;
    color: #5790c1;
    min-height: 200px;
    height: auto;
}
footer li{
    list-style: none;
}
.navbar-inverse{
	background-color: #5790c1;
	border-color: #5283bf;
}
.navbar-inverse .navbar-nav>li>a {
	color: #fff;
}
#logo{
	background: url('/src/images/21market-logo-shop-100.png') no-repeat center center;
	width: 100%;
	height: 100px;
}
#shop-button{
	background-color: #5790c1;
	color:#fff;
}
#shop-button>a{
	color: #fff !important;
}
#shop-button>a:hover{
	text-decoration: none !important;
}
#purchase-button{
	background-color: #6ace6c;
	color:#fff;
	border-color: #fff;
}
#purchase-button>a{
	color: #fff !important;
}
#purchase-button>a:hover{
	text-decoration: none !important;
}
.main-block{
	padding-top: 75px;
}
#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.login-choice{
    margin-top: 10px;
    margin-bottom: 10px;
}
.phone-holder p{
    margin: 0;
    font-size: 20px;
    font-family: 'Exo 2 Bold';
}
.categories h1, h2{
  text-transform: uppercase;
}
.categories h1{
  margin-top: 30px;
}
.categories h2{
  text-indent: 1em;
}
.categories h4{
  margin-bottom: 15px;
}
nav.affix li,a{
    text-transform: uppercase;
    font-size: ;
}
.bs-docs-sidebar .nav>li>a {
    font-size: 18px;
}
.bs-docs-sidebar .nav .nav>li>a {
    font-size: 15px;
}
.bs-docs-sidebar .nav>.active:focus>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active>a {
  color: #337ab7;
  border-left: 2px solid #337ab7;
}
.bs-docs-sidebar .nav>li>a:hover {
  color: #5790c1;
  border-left: 1px solid #5790c1;
}
.etk-label-price{
    height: 15px !important;
}
.etk-price{
    padding-right: .7em;
}